body {
    background-color: black !important; 
}

.container {
    background-color: blue;
    border-radius: 25px;
}

.kostka {
    border-radius: 15px;
    border: black 8px solid;
    margin-top: 69px;
    margin-bottom: 69px;
    margin-left: 10px;
    margin-right: 10px;
}

#result {
    margin-bottom: 25px ;
    margin-top: 15px ;
    color: blanchedalmond ;
    font-family: 'Times New Roman', Times, serif !important;
    
}

h1 {
    color: blanchedalmond !important;
    font-family: 'Times New Roman', Times, serif !important;
}

button {
    background-color: black !important;
    color: blanchedalmond !important;
    font-family: 'Times New Roman', Times, serif !important;
    border: blanchedalmond 3px solid;
    padding: 8px;
}

footer {
    color: blanchedalmond !important;
    margin-top: 80px; 
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Times New Roman', Times, serif !important;
}

